{% extends "layout.html" %}
{% set active_page = "about" %}
{% block content %}

<h2>{{ title }}.</h2>

<p>
    <ul>
        <li>
            <h3>Home page</h3>
            <ul>
                <li>
                    Drag and drop/click on the box to upload the resume file.
                </li>
                <li>
                    After uploading the file the app will process through the file to extarct Candidate Names,Candidate ID,Mobile number and Email ID and display it in HTML(Web) page.
                </li>
                <li>
                    User can download this data into Excel sheet by clicking on button <b>Download to Excel</b>.
                </li>
            </ul>
        </li>
        <li>
            <h3>Split page</h3>
            <ul>
                <li>
                    Drag and drop/click on the box to upload the resume file.
                </li>
                <li>
                    After uploading the file the app will process through the file split the resumes of individual candidates and downloads the same in <b>Zip file</b> automatically.
                </li>
            </ul>
        </li>
        <li>
            <h3>Contact page</h3>
            <ul>
                <li>
                    Contains list of <b>Resume Parser App</b> developers details.
                </li>
                <li>
                    Contact those developers if you need help related to this application. 
                </li>
            </ul>
        </li>
    </ul>
</p>

{% endblock %}
