{% extends "layout.html" %}
{% set active_page = "contact" %}
{% block content %}

<h2>{{ title }}.</h2>

<table class="table table-bordered table-striped table-hover" id="myTable">
    <thead>
        <tr>
            <th>EMP ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
        </tr>
    </thead>
    <tbody id="mydata">
        {%for data in result%}
        <tr>
            <td>{{data.eid}}</td>
            <td>{{data.name}}</td>
            <td>{{data.Email}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}
