﻿{% extends "layout.html" %}

{% block content %}

<h3>{{ title }}</h3>

<h4>Candidates data for these numbers are not avialable : <b>{{missingDataFor}}</b></h4>

<!--<h4>{{ message }}</h4>-->

<div class="container-fluid">
    <a href="{{ url_for('downloadFile', filename=filename) }}" target="blank"><button class='btn btn-primary'>Download to Excel !</button></a>
</div>
<div class="container-fluid" style="padding-top:15px;">
    {% for table in tables %}
    {{ table|safe }}
    {% endfor %}
</div>
{% endblock %}
