﻿{% extends "layout.html" %}
{% set active_page = "split" %}
{% block content %}

<div class="row">
    {{ dropzone.create(action='split') }}
</div>

{% endblock %}

{% block scripts %}
<style type="text/css">

    body {
        background: rgb(243, 244, 245);
        height: 100%;
        color: rgb(100, 108, 127);
        text-rendering: optimizeLegibility;
        padding-top: 50px;
        padding-bottom: 20px;
    }
</style>
<script type="text/javascript" src="../static/scripts/dropzone.min.js"></script>
{{ dropzone.config(default_message='Drop the file here to Split',redirect_view='splitpdffile') }}
<script type="text/javascript">
    Dropzone.options.myDropzone = {
        init: function () {
            this.on("queuecomplete", function (file, responseText) {
                $('#divLoading').show();
                window.location = "/splitpdffile";
            });
        }
    }

</script>
{% endblock %}
