﻿{% extends "layout.html" %}

{% block content %}

<h4>Click on the below button to download the Splitted files as Zip file !</h4>


<div class="container-fluid">
    <a href="{{ url_for('ziparchive', filename=filename) }}" target="blank"><button class='btn btn-success'>Download as Zip file !</button></a>
</div>

{% endblock %}
